*{
    font-family: Averta, sans-serif;
    margin: 0px;
 }

button{
    padding: 11px 28px;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

 .btn-1{
    border: 1px solid #E8332B;
    background-color: #E8332B;
    color: white;
 }

 .btn-1:hover{
    background-color: white;
    color: #E8332B;
    outline: none;
 }


 .btn-2{
    border: 1px solid #E8332B;
    background-color: white;
    color: #E8332B;
    outline: none;
 }

 .btn-2:hover{
    background-color: #E8332B;
    color: white;
 }

 .Buttons{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
 }

 @media only screen and (max-width: 900px) {
   .Buttons{
      display: flex;
      flex-direction: column;
      width: 80% !important;
      margin: auto;
   }
   button{
      font-size: 8px;
      padding: 10px 20px;
      font-size: inherit;
      cursor: pointer;
  }
  .btn-1{
   margin-bottom: 20px;
  }
}


@media only screen and (max-width: 1280px) {
   .Buttons{
      display: flex;
      width: 38%;
      margin: auto;
   }
   button{
      font-size: 8px;
      padding: 10px 20px;
      font-size: inherit;
      cursor: pointer;
  }
  .btn-1{
   margin-bottom: 20px;
  }
}

