*{
    font-family: Averta, sans-serif;
    margin: 0px;
 }

button{
    padding: 11px 28px;
    font-size: inherit;
    cursor: pointer;
}

 .btn-1{
    border: 1px solid #E8332B;
    background-color: #E8332B;
    color: white;
 }

 .btn-1:hover{
    background-color: white;
    color: #E8332B;
 }


 .btn-2{
    border: 1px solid #E8332B;
    background-color: white;
    color: #E8332B;
 }

 .btn-2:hover{
    background-color: #E8332B;
    color: white;
 }

 .Buttons{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
 }